certificates/
nupkgs/
source/.vs/
source/Authentication.OAuth2/bin/
source/Authentication.OAuth2/obj/
source/Authentication.OAuth2.Samlpe/bin/
source/Authentication.OAuth2.Samlpe/obj/
source/Authentication.OAuth2.Test/bin/
source/Authentication.OAuth2.Test/obj/
