certificates/
nupkgs/
source/.vs/
source/Authorization.OAuth2/bin/
source/Authorization.OAuth2/obj/
source/Authorization.OAuth2.Samlpe/bin/
source/Authorization.OAuth2.Samlpe/obj/
source/Authorization.OAuth2.Test/bin/
source/Authorization.OAuth2.Test/obj/
source/TestResults/
