certificates/
nupkgs/
source/.vs/
source/Authorization.OAuth2/bin/
source/Authorization.OAuth2/obj/
source/Authorization.OAuth2.Google/bin/
source/Authorization.OAuth2.Google/obj/
source/Authorization.OAuth2.Microsoft/bin/
source/Authorization.OAuth2.Microsoft/obj/
source/Authorization.OAuth2.Sample/bin/
source/Authorization.OAuth2.Sample/obj/
source/Authorization.OAuth2.Sample/Authorization.OAuth2.Sample.csproj.user
source/Authorization.OAuth2.Test/bin/
source/Authorization.OAuth2.Test/obj/
source/Authorization.OAuth2.WebBrowserAuthenticationBroker/bin/
source/Authorization.OAuth2.WebBrowserAuthenticationBroker/obj/
source/TestResults/
