################################################################################
#                                                                              #
#   Copyright 2023-2024 Finebits (https://finebits.com)                        #
#                                                                              #
#   Licensed under the Apache License, Version 2.0 (the "License");            #
#   you may not use this file except in compliance with the License.           #
#   You may obtain a copy of the License at                                    #
#                                                                              #
#       http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                              #
#   Unless required by applicable law or agreed to in writing, software        #
#   distributed under the License is distributed on an "AS IS" BASIS,          #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
#   See the License for the specific language governing permissions and        #
#   limitations under the License.                                             #
#                                                                              #
################################################################################

name: Pack Nuget

on:
  workflow_dispatch:
    inputs:
      upload-artifact:
        description: 'NuGet artifact will be saved'
        type: boolean
        required: false
        default: false
      push-to-nuget:
        description: 'NuGet will be pushed to nuget.org'
        type: boolean
        required: false
        default: false
      ignore-certificate:
        description: 'NuGet can be pushed without a certificate'
        type: boolean
        required: false
        default: false
  release:
    types: [published]

env:
  project: ./source/Authorization.OAuth2.sln
  test-project: ./source/Authorization.OAuth2.sln
  configuration: Release

  package-root: "${{ github.workspace }}/nupkgs"
  certificate-root: "${{ github.workspace }}/certificates"

  dotnet-version: 9.x

jobs:
  test-nuget:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Install dotnet
      uses: actions/setup-dotnet@87b7050bc53ea08284295505d98d2aa94301e852 # v4.2.0
      with:
        dotnet-version: ${{ env.dotnet-version }}

    - name: Build the project
      run: dotnet build ${{ env.project }} --configuration ${{ env.configuration }}

    - name: Test the project
      run: dotnet test ${{ env.test-project }} --configuration ${{ env.configuration }}

  pack-nuget:
    needs: [test-nuget]
    strategy:
      matrix:
        nuget-project:
          - './source/Authorization.OAuth2/Authorization.OAuth2.csproj'
          - './source/Authorization.OAuth2.Google/Authorization.OAuth2.Google.csproj'
          - './source/Authorization.OAuth2.Microsoft/Authorization.OAuth2.Microsoft.csproj'
          - './source/Authorization.OAuth2.Outlook/Authorization.OAuth2.Outlook.csproj'
          - './source/Authorization.OAuth2.AuthenticationBroker.Desktop/Authorization.OAuth2.AuthenticationBroker.Desktop.csproj'
    runs-on: ubuntu-latest

    env:
      nuget-project: ${{ matrix.nuget-project }}

    steps:
    - name: Artifact name
      id: artifact-name
      shell: bash
      run: |
        project="${{ env.nuget-project }}"
        filename=$(basename -- $project)
        name=${filename%.*}
        echo "artifact-name=$name" >> $GITHUB_OUTPUT
      
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Install dotnet
      uses: actions/setup-dotnet@87b7050bc53ea08284295505d98d2aa94301e852 # v4.2.0
      with:
        dotnet-version: ${{ env.dotnet-version }}

    - name: Pack
      uses: finebits/github-actions/package/nuget/pack@4a126d80a11c5fdc83ce884d3d23dffb30bc4495 # v2.0.0
      with:
        project: ${{ env.nuget-project }}
        configuration: ${{ env.configuration }}
        upload-artifact: ${{ github.event_name == 'release' || inputs.upload-artifact == true }}
        artifact-name: ${{ env.artifact-name }}
        push-to-nuget: ${{ ( github.event_name == 'release' || inputs.push-to-nuget == true ) && env.nuget-apikey != '' && ( env.certificate != '' || inputs.ignore-certificate == true ) }}
        nuget-apikey: ${{ env.nuget-apikey }}
        push-to-github: false
        certificate: ${{ env.certificate }}
        certificate-password: ${{ secrets.NUGET_SIGNING_CERT_PASSWORD }}
      env:
        artifact-name: "${{ steps.artifact-name.outputs.artifact-name }}"
        certificate: ${{ secrets.NUGET_SIGNING_CERT_BASE64 }}
        nuget-apikey: ${{ secrets.NUGET_APIKEY }}
